h1{
    color:rgb(255, 0, 0) ;
   }
 .center{
       text-align: center;
   }
   body{
       background-color: #000;
       .rojo{
        color: #dc3545;
    }
    .blanco{
        color: #fff;
    }
    .amarillo{
        color: #000;
    }
    .textCenter{
        text-align: center;
    }
    .left{
        margin-left: 45%;
    }
    .top{
        margin-top: 100px;
    }
    .letra{
        font-size: xx-large;
    }
    .abajo{
        margin-top: 30%;
   }
   .imgs{
    text-align: center;

}
svg{
    text-align: center;
    color: #dc3545;
}
   }
   #body{
       background-color: white;
   }
   #alto{
      height: 10px;
   }
   .image{
       background-image: url(https://onfit.com.ar/images/parallax/homepage-01.jpg)
       
   }
